<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\USERS\HTANK\SOURCE\REPOS\IOOP\TUITION CENTRE\DATABASE\MYDB.MDF";Integrated Security=True'
		providerName="System.Data.SqlClient" />
	</connectionStrings>	
</configuration>
	