<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\htank\source\repos\IOOP\Tuition Centre\Database\MyDB.mdf";Integrated Security=True'
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>